{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
	<div class="container">
		<h1><u>Ваши слаки:</u></h1>
		<br>
	<table class="table table-bordered">
		    <thead>
      <tr>
        <th>Название</th>
        <th>Канал для сообщений</th>
        <th>Управление</th>
        <th>Архив</th>
      </tr>
    </thead>
	<tbody>
	{%for item in workspaces%}
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.channel_id}}</td>
        <td>
			<a href="{% url 'Settings' slug=item.team_id %}">
				<span class="glyphicon glyphicon-edit"></span>
			</a>
		</td>
        <td>
			<a href="{% url 'Statistic' slug=item.team_id %}">
			<span class="glyphicon glyphicon-list"></span>
			</a>
		</td>
      </tr>
	{%endfor%}
    </tbody>
	</table>
<a href="https://slack.com/oauth/authorize?client_id=280003673011.280124081140&scope=bot,commands,incoming-webhook,channels:history,channels:read,channels:write,chat:write:bot">
	<img alt="Add to Slack"
		 height="40"
		 width="139"
		 src="https://platform.slack-edge.com/img/add_to_slack.png"
		 srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x,
		 		 https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
	</div>
{% endblock %}
