{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
	<h2>Настройки слака:</h2>
<br>
    <form method="POST">{% csrf_token %}
          <div class="form-group">
    <label for="text2">Выбранный слак:</label>
    <input type="text" class="form-control" id="text2" disabled value="{{slug}}">
  </div>
  <div class="form-group">
    <label for="text1">Текущий канал для отправки сообщений:</label>
    <input type="text" class="form-control" id="text1" disabled value="{{slug.channel_id}}">
  </div>
    <div class="form-group">
    <label for="text3">Введите id нового канала для отправки сообщений:</label>
    <div class="form-control">{{form }}</div>

  </div>
  <button type="submit" class="btn btn-default">Изменить</button>
</form>
<br>
	<p><a href="/">Назад</a></p>
{% endblock %}