{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <p><a href="/">Back</a></p>
	<h2><u>Сообщения:</u></h2>
	<div class="container">
	<table class="table table-bordered">
		    <thead>
      <tr>
        <th>Тип сообщения</th>
        <th>Пользователь</th>
        <th>Сообщение</th>
        <th>Дата сообщения</th>
      </tr>
    </thead>
	<tbody>
		{% for item in messages%}
		<tr>
            <td>Заявка</td>
			<td> {{item.user_name }} </td>
			<td> {{item.text }} </td>
			<td> {{item.date }} </td>
		</tr>
        {% for thread in comments%}
                    {% if thread.message == item %}
                <tr>
                    <td>Ответ</td>
                    <td> {{thread.user_id }} </td>
                    <td> {{thread.text }} </td>
                    <td> {{thread.date }} </td>
                </tr>
                    {% endif %}
        {% endfor %}
	    {% endfor %}
    </tbody>
	</table>
	</div>
	<p><a href="/">Back</a></p>
{% endblock %}